body {
  font-family: expo-serif-pro, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 960px;
  margin: 0 auto;
  font-size: 150%;
  margin-top: 2em;
}

section {
  margin-bottom: .5em;
}

input {
  margin-bottom: .5em;
  padding: .5em;
  font-family: inherit;
  font-size: 1.15em;
  border: 1px solid rgb(235, 235, 235);
  border-radius: .25em;
  color: #fff;
  background: #000;
  cursor: pointer;
  transition: background-color .2s, color .2s;
  text-align: center;
}

input:focus {
  color: #000;
  text-shadow: none;
  background: #fff;
  outline: 0;
  text-align: left;
  cursor: text;
}

[data-logo], [data-logo] > a {
  margin-bottom: .5em;
  overflow: visible;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5em;
  color: #000;
  letter-spacing: -4px;
}

[data-description] {
  margin-bottom: 1.5em;
  overflow: visible;
}

[data-share] { margin-top: .75em; }

[data-letter] {
  margin-top: -.25em;
  font-size: 2.5em;
  font-weight: normal;
  overflow: visible;
}

[data-letter] div {
  display: inline-block;
}

[data-answers] {
  font-size: 1em;
  overflow: visible;
}

[data-answers] div {
  margin-right: .5em;
  transition: opacity .5s;
  cursor: default;
}

[data-answers] div:hover {
  opacity: 1 !important;
}

[data-answers] div:before {
  content: attr(title);
  padding: .25em .5em;
  margin-right: .25em;
  font-size: .5em;
  background: #49a34b;
  color: #fff;
  border-radius: .25em 0 .25em .25em;
  cursor: default;
  z-index: 999;
}

[data-points], [data-time] {
  line-height: 1;
  text-align: left;
}

[data-points],
[data-highscore] { text-align: right; }

[data-points] b,
[data-highscore] b,
[data-rank] b,
[data-time] b {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  background: #000;
  border-radius: .25em 0 .25em .25em;
  padding: .35em .5em;
  margin-top: .25em;
}

[data-time] b,
[data-rank] b
{ border-radius: 0 .25em .25em .25em; }

[data-right] { text-align: right; }

[data-subtitle] {
  margin-top: .25em;
  font-size: .5em;
  font-weight: normal;
}

[data-footer] {
  margin-top: 2em;
  font-size: .5em;
}

[data-footer] a {
  text-decoration: none;
  color: '#000';
}

@media screen and (max-width: 960px) {
  body { width: 90%; }
  
  [data-played] { display: none; }
  [data-share] { text-align: center; }
  
  [data-letters] > * {
    width: 100%;
    text-align: center;
  }
  
  [data-letter] { margin-top: -.25em; }
  
  [data-answers],
  [data-description],
  [data-highscore] b,
  [data-rank] b { font-size: .75em; }

  [data-highscore], [data-rank] {
    margin-top: 4em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  body { font-size: 125%; width: 100%; }
}